<div class = "d-flex justify-content-center m-5">
  <h2>All the wigs in <%= @location %>!<h2>
</div>

<div class="main-container d-flex">
  <div class = "col-5">
    <% @wigs.each do |wig| %>
      <div class = "card-by-loc">
        <h4><%= wig.title %></h4>
        <p><%= wig.description %></p>
        <p><strong>Price per day: </strong> <%= wig.price_per_day.to_i %> EUR</p>
      </div>
    <% end %>
  </div>
  <div class="map">
    <div class="map-geocode col-7">
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
