<div class = "container">
  <div class = "d-flex justify-content-center m-4">
    <h1>Discover all our wigs!</h1>
  </div>
  <% @wigs.each do |wig| %>
    <div class = "bg-white p-2 m-3 rounded shadow">
    <h2><%= wig.title %></h2>
    <p><%= wig.description %></p>
    <p><%= wig.price_per_day %></p>
    <p><%= wig.location %></p>
    <%= link_to "More info about this wig", wig_path(wig) %>
    </div>
  <% end %>
</div>
