<div class = "text-center m-3 h1-index">
  <h1>Discover all the wigs</h1>
</div>

<div class="main-container d-flex ">
    <div class="wigs-container">
      <% @wigs.each do |wig| %>
        <div class = "div-card">
          <%= link_to wig_path(wig) do %>
            <div class = "insidecard bg-white p-3 ">
              <%= cl_image_tag wig.photo.key, crop: :fill, class: "card-image-all-wigs"  %>
              <h3 class = title><strong><%= wig.title %></strong></h3>
              <p class = description><%= wig.description %></p>
              <div class="cards-location">
                <p class = location><%= wig.location %></p>
              </div>
              <div class="price-index">
                <p class = price><strong><%= wig.price_per_day.to_i %> CAD</strong> day</p>
              </div>
              <div class="avatar-container">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/krokrob", class: "avatar" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="map">
      <div class="map-geocode">
        <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
</div>
