  <div class = "text-center m-2">
    <h1>Discover all the wigs!</h1>
  </div>

<div class="main-container">
  <div class="d-flex">
    <div class="wigs-container">
      <% @wigs.each do |wig| %>
        <div class = "div-card">
          <%= link_to wig_path(wig) do %>
            <div class = "insidecard bg-white p-3 ">
              <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg", class: "card-image" %>
              <h3 class = title><strong><%= wig.title %></strong></h3>
              <p class = description><%= wig.description %></p>
              <p class = location><%= wig.location %></p>
              <p class = price><strong><%= wig.price_per_day %> EUR</strong> day</p>
              <div class="avatar-container">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/krokrob", class: "avatar" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/krokrob", class: "map"%>
  </div>
</div>
