<div class = "text-center m-5">
  <h3>Have a look at the:</h3>
  <h2>🪮 <%= @wig.title %> 🪮</h2>
  <div class = "m-5 bg-white">
    <p>This</p>
    <p>is</p>
    <p>a</p>
    <p>Picture</p>
  </div>
  <p><%= @wig.description %></p>
  <div>
    <div class = "m-3">
      <p><strong>Price for location per day</strong></p>
      <h5><%= @wig.price_per_day.to_i %> EUR</h5>
    </div>
  </div>
  <div>
  <%= link_to "Go back to search", wigs_path %>
  <%= link_to "Update wig", edit_wig_path %>
  <%= link_to "Delete wig",
    wig_path(@wig),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
  </div>
</div>
