<div class = "containerreservation m-5">
    <div class="main-container-reservation col-lg-8">
      <h2> <%= @wig.title %> </h2>
      <div class = "m-5 bg-white">
        <%= cl_image_tag @wig.photo.key, crop: :fill%>
      </div>

      <hr class="my-4 bg-dark">

      <p><%= @wig.description %></p>

      <div>
        <hr class="my-4 bg-dark">
          <div class = "m-3">
            <p><strong>Renting price per day</strong></p>
            <h5><%= @wig.price_per_day.to_i %> CAD</h5>
          </div>
      </div>
    </div>

    <div class="formreservation">
      <%= form_with model: [@wig, @booking] do |f| %>
        <div class = "d-flex justify-content-end mb-4">
          <div class="m-1 d-flex align-item-center justify-content-center">
            <%= f.label :wig_in %>
          </div>
          <%= f.date_field :start_date %>
        </div>
        <div class = "d-flex justify-content-end mb-4">
          <div class="m-1 d-flex align-item-center justify-content-center">
            <%= f.label :wig_out %>
          </div>
          <%= f.date_field :end_date%>
        </div>
        <div class=" btnreservation d-flex justify-content-end">
          <%= f.submit "Book", class: "btnreservation" %>
        </div>
      <% end %>
    </div>
</div>

<div class = "link-div text-center mb-4">
  <%= link_to "Go back to search", wigs_path %>
</div>

<% if @condition %>
  <div class = "d-flex justify-content-center mb-5">
    <p><strong>This wig belongs to you, do you want to remove or edit it ?</strong></p>
  </div>
  <div class = "d-flex justify-content-around">
    <p><%= link_to 'Remove wig', wig_path(@wig), data: { "turbo-method": :delete, turbo_confirm: "Are you sure ? Once removed, this wigs won't be available anymore" } %></p>
    <p><%= link_to 'Edit wig', edit_wig_path(@wig) %></p>
  </div>
<% end %>
