<div class = "d-flex justify-content-center m-3">
  <h2>All of your bookings<h2>
</div>

<div class = "row">
  <div class = "col-6">
    <h4 class="text-center">Requested bookings<h4>
    <% @bookings.where(satuts: 'pending').each do |b| %>
      <div class = "container-accept-decline   text-align m-3">
        <p><strong><%= User.find(b.user_id).first_name %> <%=User.find(b.user_id).last_name%></strong> wants to book your wig</p>
        <p><strong>From:</strong> <%= b.start_date %></p>
        <p><strong>To:</strong> <%= b.end_date %></p>
        <div class="link-container">
          <%= link_to "Accept",
          accept_path(b),
          data: {turbo_method: :patch, turbo_confirm: "Are you sure?"}%>
          <%= link_to "Decline",
          decline_path(b),
          data: {turbo_method: :patch, turbo_confirm: "Are you sure?"}%>
        </div>
      </div>
    <% end %>
  </div>
  <div class = "col-6">
    <h4 class="text-center">Upcoming bookings<h4>
    <% @bookings.where(satuts: 'accepted').each do |b| %>
      <div class = "container-accept-decline text-align m-3">
        <p><strong><%= User.find(b.user_id).first_name %> <%=User.find(b.user_id).last_name%></strong> booked your wig</p>
        <p><strong>From:</strong> <%= b.start_date %></p>
        <p><strong>To:</strong> <%= b.end_date %></p>
      </div>
    <% end %>
  </div>
</div>
