 <div class = "cards">
    <% @wigs.each do |wig| %>
      <%= link_to wig_path(wig) do %>

          <div class = "cardshome p-3 ">
              <%= cl_image_tag wig.photo.key, crop: :fill, class: "card-image-top"  %>
              <h3 class = title><strong><%= wig.title %></strong></h3>
              <p class = description><%= wig.description %></p>
              <p class = location><%= wig.location %></p>
              <p class = price><strong><%= wig.price_per_day %> EUR</strong> day</p>
              <div class="avatar-container">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/krokrob", class: "avatar" %>
              </div>
          </div>

      <% end %>
    <% end %>
  </div>
