 <div class = "cards">
    <% @wigs.each do |wig| %>
      <%= link_to wig_path(wig) do %>

          <div class = "cardshome p-3 ">
              <%= cl_image_tag wig.photo.key, crop: :fill, class: "card-image-top"  %>
              <h3 class = title><strong><%= wig.title %></strong></h3>
              <p class = description><%= wig.description %></p>

              <div class="cards-location">
                <p class = location><%= wig.location %></p>
              </div>
              <div class="cards-price">
                <p class = price><strong><%= wig.price_per_day %> CAD</strong> day</p>
              </div>
              <div class="avatar-container">
              <%= cl_image_tag User.find(wig.user_id).photo.key, class: "avatar", crop: :fill%>
              </div>
          </div>

      <% end %>
    <% end %>
  </div>
