<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
     url(<%= image_path('homebaldman.jpeg')%>)">
  <div class="container">
    <h1>Hairbnb, the solution to feel <br> sexy again!</h1>
    <div class="form ">
      <form action="">
        <div class = "d-flex justify-content-end mb-1">
          <input placeholder="Where ?" type="location" name="location" id="location">
        </div>
        <div class = "d-flex justify-content-end mb-1" >
          <div class = "m-1">
            <label for="date">Wig in: </label>
          </div>
          <input type="date" name="date" id="date">
        </div>
        <div class = "d-flex justify-content-end mb-1">
          <div class = "m-1">
            <label for="date">Wig out:</label>
          </div>
          <input type="date" name="date" id="date">
        </div>
        <div class="d-flex justify-content-end red-border">
          <input class="btn" name="commit" type="submit" value="search" data-disable-with="Search" />
        </div>
      </form>
    </div>
  </div>
</div>

<div class = "d-flex justify-content-center m-3">
  <%= link_to "Dsicover all the wigs available", wigs_path%>
</div>

<h2 class = "text-center mt-4">Our top 5 best Wigs</h2>

<div class = 'container'>
  <% @wigs.each do |wig| %>
    <div class = "m-2 p-2 bg-white shadow rounded">
    <p><%= wig.title %></p>
    <p><%= wig.description %></p>
    <p>Price per day: <%= wig.price_per_day.to_i %></p>
    </div>
  <% end %>
</div>




<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> at Le Wagon by Etienne, Florian and William
  </div>
</div>
