<!DOCTYPE html>
<html>
  <head>
    <title>Hairbnb1208</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">


  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/flashes" %>
    <% unless current_page?(new_user_registration_path) %>
      <% unless current_page?(new_user_password_path) %>
        <% unless current_page?(new_user_session_path) %>
        <% unless current_page?(booking_owner_path) %>
          <%= render "shared/footer" %>
        <% end %>
      <% end %>
    <% end %>
    <% end %>
  </body>
</html>
